.notif {
  position: fixed;
  top: -150px;
  left: calc((100% - 200px) / 2);
  width: 280px;
  border-radius: 8px;
  border: 1px solid #48C1B5;
  background-color: #48C1B515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  gap: 14px;
  transition: top 0.35s linear;
  img {
    &:last-child {
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
  }
  p {
    margin-right: auto;
    font-size: 14px;
    color: #222831;
  }
}
.notif.success {
  top: 25px;
}

.sidebar {
  max-width: 320px;
  height: 100vh;
  width: 100%;
  border-right: 1px solid lightgray;
  padding: 10px;
  background: transparent;
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    img:first-child {
      width: 62px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  &__title {
    font-size: 16px;
    margin: 30px 0 5px;
    color: #222831;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
    color: #222831;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.15s linear;
    &:hover,
    &:active {
      background-color: #eff2f590;
    }
    &--active {
      background-color: #ebecee !important;
      color: #222831;
    }
    .count {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      font-size: 15px;
      color: #4477CE;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 320px);
  width: 100%;
  position: relative;
  background-color: transparent;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  background: transparent;
  &__profile {
    display: flex;
    align-items: center;
    gap: 20px;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 42px;
      height: 42px;
      border-radius: 12px;
      background-color: #EEEEEE90;
      opacity: 0.75;
      transition: background-color 0.15s linear;
      &:hover {
        background-color: #ebecee;
        opacity: 0.85;
      }
    }
  }
  &__notif {
    position: relative;
    &::after {
      content: attr(data-count);
      position: absolute;
      top: 5px;
      right: 5px;
      width: 16px;
      height: 16px;
      background-color: #F56C6C;
      color: #FFF;
      border-radius: 20px;
      font-size: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.wrap {
  padding: 10px 20px;
  height: calc(100vh - 82px);
  &__title {
    padding: 10px 0;
    text-transform: capitalize;
    color: #222831;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 148px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(175, 175, 175);
      border-radius: 4px;
    }
  }
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 420px;
      opacity: 0.5;
    }
    h4 {
      margin-top: 10px;
      border-top: 1px solid lightgray;
      width: 100%;
      color: #222831;
      text-align: center;
      padding: 10px;
    }
  }
  &__list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
  }
  &__item {
    width: 100%;
    background-color: #FCF5C7;
    font-size: 16px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    input {
      display: none;
    }
    span {
      font-weight: 600;
      width: 20vw;
      font-size: 16px;
    }
    p {
      font-weight: 100;
      font-size: 14px;
      color: #4D3C77;
    }
    a {
      text-decoration: none;
      font-weight: normal;
      border: 1px solid #c45656;
      padding: 2px 10px;
      border-radius: 3px;
      font-size: 14px;
      color: #c45656;
      margin-left: auto;
      transition: background-color 0.15s linear;
      &:hover {
        background-color: #F56C6C20;
      }
    }
    button {
      border: none;
      background: transparent;
      transition: opacity 0.15s linear;
      img {
        width: 20px;
      }
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__item-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
  }
  input + label {
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      display: inline-block;
      border-radius: 4px;
    }
  }
  input:hover + label {
    &::before {
      background-color: #F6B17A60;
    }
  }
  input:checked + label {
    &::before {
      background-color: #F6B17A;
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 99;
  &__hidden {
    display: none;
  }
  &__box {
    max-width: 650px;
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__input, &__select {
    outline: none;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid lightgray;
    &--danger {
      border-bottom: 1px solid #F56C6C;
      &::placeholder {
        color: #F56C6C;
      }
    }
  }
  &__select, 
  &__select option {
    background-color: transparent;
    text-transform: capitalize;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__btn {
    font-size: 16px;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    &:hover, 
    &:active {
      opacity: 0.85;
    }
    &--success {
      background-color: #67C23A;
    }
    &--danger {
      background-color: #F56C6C;
    }
  }
}

.add {
  width: 56px;
  height: 56px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 100px;
  position: absolute;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  bottom: 50px;
  background-color: #F8F9FA;
  &:hover,
  &:active {
    background-color: #f1f1f1;
  }
}


@mixin index($bg-color, $color) {
  .notif {
    background-color: #48C1B585;
    p {
      color: $color;
    }
  }
  
  .sidebar {
    background: $bg-color;
    &__title {
      color: $color;
    }
    &__logo {
      img:last-child {
        filter: brightness(0) invert(1);
        opacity: 0.6;
      }
    }
    &__link {
      color: $color;
      &--active {
        color: #222831;
      }
    }
  }
  
  .main {
    background-color: $bg-color;
  }

  .header {
    background: $bg-color;
    &__profile {
      div {
        background: #ebecee30;
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .wrap {
    &__title {
      color: $color;
    }
    &__empty {
      h4 {
        color: $color;
      }
    }
  }
}

@mixin dark-theme($bg-color, $color) {
  @include index($bg-color, $color);
}

.dark {
  @include dark-theme(#222831, #EEEEEE);
}

@media (prefers-color-scheme: dark) {
  @include dark-theme(#222831, #EEEEEE);
}