* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
}

.sidebar {
  max-width: 320px;
  height: 100vh;
  width: 100%;
  border-right: 1px solid lightgray;
  padding: 10px;
  &__logo {}
  &__inner {}
  &__title {
    font-size: 16px;
    margin: 30px 0 5px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.15s linear;
    &:hover,
    &:active {
      background-color: #f3f5f7;
    }
    &--active {
      background-color: #f3f5f7;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 320px);
  width: 100%;
  position: relative;
}

.add {
  width: 56px;
  height: 56px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 100px;
  position: absolute;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  bottom: 50px;
  background-color: #F8F9FA;
  &:hover,
  &:active {
    background-color: #f1f1f1;
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 99;
  &__hidden {
    display: none;
  }
  &__box {
    max-width: 650px;
    width: 100%;
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__input, &__select {
    outline: none;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid lightgray;
    &--danger {
      border-bottom: 1px solid #F56C6C;
      &::placeholder {
        color: #F56C6C;
      }
    }
  }
  &__select, 
  &__select option {
    background-color: transparent;
    text-transform: capitalize;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__btn {
    font-size: 16px;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    &:hover, 
    &:active {
      opacity: 0.85;
    }
    &--success {
      background-color: #67C23A;
    }
    &--danger {
      background-color: #F56C6C;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 20px;
  &__profile {
    display: flex;
    align-items: center;
    gap: 20px;
    div {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  &__dark {}
  &__notif {}
  &__avatar {}
}

.wrap {
  padding: 10px 20px;
  &__title {
    padding: 10px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 144px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(175, 175, 175);
      border-radius: 4px;
    }
  }
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    img {
      width: auto;
    }
    h4 {
      margin-top: 10px;
      border-top: 1px solid lightgray;
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  }
  &__list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
  }
  &__item {
    width: 100%;
    background-color: #ffee9399;
    font-size: 16px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    input {
      display: none;
    }
    input:checked + label {
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        background-color: orange;
        display: inline-block;
        border-radius: 3px;
      }
    }
    span {
      font-weight: 600;
      width: 20vw;
      font-size: 16px;
    }
    p {
      font-weight: 100;
      font-size: 14px;
      color: #337ecc;
    }
    a {
      text-decoration: none;
      font-weight: normal;
      border: 1px solid #c45656;
      padding: 2px 10px;
      border-radius: 3px;
      font-size: 14px;
      color: #c45656;
      margin-left: auto;
    }
  }
  &__item-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
  }
}